{% extends "base.html" %}
{% block title %}Sign Up{%endblock%}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main id="main"  class="d-flex justify-content-center align-items-center align-content-around "style="background: linear-gradient(to bottom, #33ccff 8%, #ff99cc 100%);height:100vh; ">    
  <div class="container">
          <div class="row d-flex justify-content-center align-items-center align-content-around px-2">
     
            <div class="col-xl-6 col-md-8 col-12 px-2 bg-white p-3 rounded">
<h5 class="text-center"> <u> {% trans "Sign Up" %} </u></h5>


<form class="signup bg-white rounded shadow-5-strong p-1" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Sign Up" %}</button>
  </div>
<p class="pt-2">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"> Log in</a>.{% endblocktrans %}</p>
</form>
</div>
          </div>
        </div>
      
    
    </main>
{% endblock %}
