{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %} 
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<main id="main" >
<br>
    <!-- ======= artists Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Edit Profile</h2>

          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' user.personal.profile_uuid  %}">Profile</a></li>
            <li>Edit Profile</li>
          </ol>
        </div>

      </div>
    </section><!-- End artists Section -->

    <!-- ======= artists Section ======= -->
    <section id="artists" class="artists">
      <div class="container" data-aos="fade-up">

        <div class="row">

         <div class="col-md-10 mx-auto">
          <div class="card shadow-lg  bg-body rounded">
  <h5 class="card-header text-center py-4">Edit Profile</h5>
  <div class="card-body">

<div class="mb-3">

<form  method="POST" enctype="multipart/form-data">

{% csrf_token %}
{{ myform.media }}
{{form|crispy}}


{% comment %} <script>
  function fileValidation() {
      var fileInput = 
          document.getElementById('file');
        
      var filePath = fileInput.value;
    
      // Allowing file type
      var allowedExtensions = 
/(\.doc|\.docx|\.odt|\.pdf|\.tex|\.txt|\.rtf|\.wps|\.wks|\.wpd)$/i;
        
      if (!allowedExtensions.exec(filePath)) {
          alert('Invalid file type');
          fileInput.value = '';
          return false;
      } 
  }
</script> {% endcomment %}
{% comment %} <div class="form-row">

      <div class="card my-3">
  <h5 class="card-header text-center py-2">Type Of User</h5>
  <div class="card-body">
   <div class="form-group mb-0">
        {{ form.user_type|as_crispy_field }}
      </div>
      </div>
      </div>
      <div class="card my-3">
  <h5 class="card-header text-center py-2">Personal Information</h5>
  <div class="card-body">
  <div class="form-group mb-0">
        {{ form.profile_pic|as_crispy_field }}
      </div>
      <div class="form-group mb-0">
        {{ form.phone_number|as_crispy_field }}
      </div>
      <div class="form-group mb-0">
        {{ form.gender|as_crispy_field }}
      </div>
      <div class="form-group mb-0">
        {{ form.bio|as_crispy_field }}
      </div>
</div>
      </div>
      <div class="card my-3">
  <h5 class="card-header text-center py-2">Address Information</h5>
  <div class="card-body">
       <div class="form-group mb-0">
        {{ form.location_county|as_crispy_field }}
      </div>
      <div class="form-group mb-0">
        {{ form.location_town|as_crispy_field }}
      </div>
      <div class="form-group mb-0">
        {{ form.location_location|as_crispy_field }}
      </div>
      <div class="form-group mb-0">
        {{ form.location_address|as_crispy_field }}
      </div>

      </div>
      </div> 
      <div class="card my-3">
  <h5 class="card-header text-center py-2">Skills (<span  class="text-danger">  For Job seekers only</span>)</h5>
  <div class="card-body">
      <div class="form-group mb-0">
        {{ form.skills|as_crispy_field }}
      </div>
      </div>
      </div>
       <div class="card my-3">
  <h5 class="card-header text-center py-2">Documents</h5>
  <div class="card-body">
      <div class="form-group mb-0">
        {{ form.cv|as_crispy_field }}
      </div>
     
     
      </div>
      </div> 

    </div>   {% endcomment %}
<div class="text-center">
<button type="submit" class="btn btn-primary" >Edit Profile</button>
</div>
</form>
</div>
           

          </div>

          
        </div>
        </div>

          
        </div>

      </div>
    </section>

</main>

{% endblock %}
